week2/exercises/in5400/datasets/cifar-10-batches-py
week4/exercise/intro_to_pytorch_exercise/data
week4/exercise/intro_to_pytorch_exercise/gif_food
week4/exercise/intro_to_pytorch_exercise/gif_food_hd
week4/exercise/intro_to_pytorch_exercise/gif_food_hd_interpolation
DeFaced_FLAIR 3D
Ivar_MRI
