week2/exercises/in5400/datasets/cifar-10-batches-py
week4/exercise/intro_to_pytorch_exercise/data
week4/exercise/intro_to_pytorch_exercise/gif_food
week4/exercise/intro_to_pytorch_exercise/gif_food_hd
week4/exercise/intro_to_pytorch_exercise/gif_food_hd_interpolation
DeFaced_FLAIR 3D
Ivar_MRI
week7/exercise/data
week1/volume_convolution_demo/data
week8/exercise/IN5400_2019_week8_generalization_exercise/data
